WORKFLOW_NAME=RBHGWORKFLOWNAME            # SWIF WORKFLOW NAME
DATA_OUTPUT_BASE_DIR=RBHGOUTPUTBASEDIR    # Output Directory of ROOT trees and log files

GENERATOR=file:RBHGSPATHTOHDDMFILE	  

GEANT_VERSION=4
NOSECONDARIES=0

#Matching to real data
BKG=RBHGINCLUDEBACKGROUND
#Environment used to reconstruct the data
ENVIRONMENT_FILE=RBHG_RECON_ENVIRONMENT 
#Environment used for analysis launch to produce the ROOT trees you're comparing simulation to.
RBHG_ANALYSIS_ENVIRONMENT
RCDB_QUERY=RBHG_RCDBQUERY 

CUSTOM_PLUGINS=file:RBHG_JANACONFIGFILE

BATCH_SYSTEM=RBHGBATCHSYSTEM #can be swif or swif2 or condor or osg or qsub adding :[name] will pass -q [name] into PBS. swif2cont for container
# for swif
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation     	  # https://scicomp.jlab.org/docs/batch_job_tracks
# for swif2
ACCOUNT = halld          # https://scicomp.jlab.org/scicomp/slurmJob/slurmAccount
PARTITION = production
EXPERIMENT = RBHG_EXPERIMENT       # GlueX (default) or CPP

# RESOURCES for swif(2) jobs
NCORES=1      		  # Number of CPU threads to use or nodes:node-id:ppn or nodes:ppn depending on your system
DISK=RBHGDISKREQUEST
RAM=4GB			  # Max RAM usage
TIMELIMIT=12h      # Max walltime  This may be of the form xx:xx:xx depending on your system
OS=el9        	  # Specify CentOS65 machines

# Container OS settings (only used if BATCH_SYSTEM=swif2cont)
# Leave empty or set to LOCAL to use native OS for that step
RBHGGENERATOROSSETTING
RBHGPOSTGENOSSETTING
RBHGSIMULATIONOSSETTING
RBHGMCSMEAROSSETTING
RBHGRECONOSSETTING
RBHGANAOSSETTING





#THESE TWO ARE OPTIONAL IF THE STANDARD RUNNING DOESN'T SUIT YOUR NEEDS
#CUSTOM_MAKEMC=use-this-script-instead
#CUSTOM_GCONTROL=use-this-Gcontrol-instead
#========================================================================

#VARIATION=mc calibtime=timegoeshere #set your jana calib context here with or without calibtime Default is variation=mc
VARIATION=RBHGVARIATIONMC

#RECON_CALIBTIME=timegoeshere

#RCDB_QUERY=

#RUNNING_DIRECTORY=/run/in/this/directory #where the code should run.  This is defaulted to ./.  Use only when NEEDED

#ccdbSQLITEPATH=/your/sqlite/path/ccdb.sqlite  #if you use SQLITE and it is not part of the environment file that gets sourced
#rcdbSQLITEPATH=/your/sqlite/path/rcdb.sqlite  #if you use SQLITE and it is not part of the environment file that gets sourced

#TAG=my-custom-prefix-tag






#GENERATOR_CONFIG=
#GENERATOR_POSTPROCESS=decay_evtgen:pathToConfigFile:pathToEVT.PDL:pathToDECAY.DEC # last two are optional (set 2nd to default if only 3rd is used), eg evtgen:/u/home/evtgen.cfg:default:someOther.DEC

#common parameters for generators
#FLUX_TO_GEN=/[full path]/flux.root:flux_hist
#POL_TO_GEN=/[full path]/tpol.root:pol_hist
#eBEAM_ENERGY=12 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
#eBEAM_CURRENT=0.01 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb in uA
#RADIATOR_THICKNESS=50.e-06 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
#COHERENT_PEAK=9 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
#GEN_MIN_ENERGY=4
#GEN_MAX_ENERGY=11.6


#VERTEX_VOLUME=ccdb:29.5 #defines the VERTEX card in geant.  The first value should be a comma seperated string x,y,z,var_xx,var_xy,var_yy,dxdz,dydz and the second part is the length (only the length need be given)


#BKG=None #[None, Random:[TAG], BeamPhotons, TagOnly, custom e.g bg.hddm:1.8] Can be stacked eg Random:[TAG]+TagOnly:.123 where the :[num] defines BGRATE



#ANA_ENVIRONMENT_FILE=your-analysis-environment-file #optional either a .(c)sh file to be sourced or .xml before the below plugins are run

#optional additional plugins that will be run along side danarest and hd_root.  This should be a comma separated list (e.g. plugin1,plugin2)
#CUSTOM_PLUGINS= #or file:/.../file-to-use which is a configuration file for jana/hd_root
#====================================================================================
#EVERYTHING BELOW FOR BATCH ONLY

#VERBOSE=True
#BATCH_SYSTEM=swif2 #can be swif or swif2 or condor or osg or qsub adding :[name] will pass -q [name] into PBS.


