PLUGINS monitoring_hists,ReactionFilter,mcthrown_tree,danarest
#,FDC_Efficiency
#TRIG:BYPA
#KALMAN:ADD_VERTEX_POINT 65 #comment out when using 50 to 80.
JANA:BATCH_MODE 1
 

#Ncores if you want to use all of the hyperthreads available (only useif you have the whole node!)
#NTHREADS 1

#MONITOR:MEMORY_EVENTS 1100000

#Limit number of neutrals
#COMBO:MAX_NEUTRALS 15

#RESTATAVERSIONSTRING recon_RunPeriod-2017-01_ver01
#ANALYSISATAVERSIONSTRING analysis_RunPeriod-2017-01_ver04

#JANA_CALIB_CONTEXT variation=mc_workfest2018 calibtime=2018-05-08-08-00-00   #workfest2018
#calibtime=YYYY-MM-DD-hh-mm-ss (hr is 24-hr format)

#EVENTS_TO_KEEP 50000


Reaction1 1_111__5_6_m111
