plugins training_sample_gen_muon_sim

#Ncores if you want to use all of the hyperthreads available (only use if you have the whole node!)
NTHREADS 1

KALMAN:ADD_VERTEX_POINT 1
TRKFIT:HYPOTHESES 5,6,8,9
PID:ENABLE_FCAL_SINGLE_HITS 1
REST:WRITE_FCAL_HITS 1
PID:ADD_FCAL_DATA_FOR_CPP 1
jana:global_loglevel FATAL
